#=====================================================================
#                          DEPENDENCIES
#=====================================================================

PyNaCl # for encryption and decryption of secrets